
.messages-page-section
{
    background-color: #D6E5D7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    height: 100vh;
}

.message-page-container
{
    width: 90%;
    height: 90%;
    border: solid 1px #000;
    border-radius: 10px;
    background-color: #fff;
    display: flex;

}

.users-message
{
    width: 30%;
    border-right: solid 1px #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-page-content
{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-user
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.search-user img
{
    width: 30px;
    margin-right: 10px;
}

.search-user input
{
    width: 80%;
    border: none;
    outline: none;
    padding: 5px 10px;
    font-size: 16px;
}

.message-page-header
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: solid 1px #000;
}

.doctor-header
{
    display: flex;
    align-items: center;
    margin: 0 0 0 20px;
}

.message-page-header img
{
    width: 80px;
    border-radius: 50%;
    margin: 0 20px;
}

.message-page-header .call
{
    margin: 0 50px 0 0;
}
.message-page-header .call img
{
    width: 40px;
    margin: 0 20px;
}

.message-page-box
{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.message-page-input
{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 10px 0;
    background-color: #F3F3F3;
    border-top: solid 1px #000;
    border-bottom-right-radius: 10px;
}

.message-page-input input
{
    width: 90%;
    height: 100%;
    border: none;
    outline: none;
    padding: 5px 10px;
    font-size: 16px;
    background-color: #F3F3F3;
}

.message-page-input img
{
    width: 30px;
    margin: 0 20px;
    cursor: pointer;
}