.notification
{
    padding: 20px 10px;
}

.notification-section
{
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.notification-section img
{
    width: 25px;
    height: 25px;
    margin-right: 20px;
    cursor: pointer;
}

.notification-content
{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 20px;
}

.notification-info
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notification-info p
{
    margin: 0;
    padding: 0;
}

.recive-time
{
    display: flex;
    align-items: center;
    justify-content: center;
}

hr
{
    width: 80%;
    border: 0;
    height: 1px;
    background-color: #626262;
    margin: auto;
}

.message-notification, .request-notification, .review-notification, .default-notification
{
    color: #fff;
    padding: 3px 15px;
    border-radius: 5px;
}

.message-notification
{
    background-color: #ADD4AF;
}

.request-notification
{
    background-color: #6DA1D2;
}

.review-notification
{
    background-color: #EFC962;
}

#sender
{
    color: #FF5A45
}

.notification-text strong
{
    color: #0F225E;
}