.procedures
{
    width: 100%;
}

.procedures ol
{
    list-style: none;
    padding: 10px;
}

.procedures ol li
{
    margin-top: 10px;
}

.procedures p
{
    padding: 10px 0 0 10px;
    margin: 0;
    color: #0F225E;
    cursor: pointer;
}