.login-section::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url("../../assets/images/background 1.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1
}

.login-section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    width: 100%;
}

.login-header
{
    min-height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: calc(10px + 2vmin);
    color: white;
}

.home-button
{
    background-color: #27457A;
    color: white;
    width: 150px;
    padding: 5px 0;
    border-radius: 10px;
    cursor: pointer;
    border: 1px #fff solid;
    margin-right: 20px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

.submit-button
{
    background-color: #7CB4E6;
    color: white;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.back
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    background-color: #fff;
    width: 500px;
    height: 60vh;
    border-radius: 20px;
}

h1
{
    font-size: 30px;
}

form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.back input
{
    width: 300px;
    height: 50px;
    margin: 10px 0 40px 0;
    border-radius: 5px;
    padding: 0 20px 0 20px;
    border: 1px solid #b7c1ca;
    background-color: #fff;
}

.green-a
{
    color: #00FF00;
    text-decoration: none;
}