.patients-list
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    background-color: #E8F3FF;
    border: solid 1px #969696;
    border-radius: 10px;
    padding: 20px 40px;
}

#pending-patients, #in-process-patients
{
    width: 100%;
    margin-bottom: 20px;
}

#pending-patients h2, #in-process-patients h2
{
    font-weight: normal;
}