.home
{
    background-image: linear-gradient(#C2DCD5, #EADCCF);
}

.home-header
{
    width: 100%;
    height: 300px;
    background-image: url("../../assets/images/home/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    border-radius:0 0 30px 30px;
}

nav>ul
{
    width: 50%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin-top: 30px;
    position: absolute;
    right: 40px;
}

.home-header li>a
{
    color: #383838;
    font-size: 20px;
    font-weight: bold;
}

ul>a
{
    margin-left: 100px;
    background-color: #fff;
    color: #383838;
    border: none;
    border-radius: 20px;
    padding: 10px 50px;
    cursor: pointer;   
}

.home-section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 100px; */
}

.home-section h1
{
    font-size: 50px;
    color: #383838;
    margin-top: 150px;
    text-align: center;
    font-weight: 200;
}

.image-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 100%;
    height: 400px;
}

.image-container img
{
    width: 20%;
    height: 100%;
    object-fit: cover;
    margin: 0 50px;
}

#name-image
{
    width: 60%;
    margin: 200px 0;
}

.about-us
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    background-color: #ADD4AF;
    height: 700px;
}

.about-us img
{
    height: 80%;
}

.about-us div
{
    width: 50%;
    margin: 0 50px;
    font-size: 22px;
}

.about-us h2
{
    font-size: 50px;
    color: #383838;
    text-align: center;
    font-weight: 500;
}

.features
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.features h2
{
    font-size: 50px;
    color: #383838;
    text-align: center;
    font-weight: 500;
}

.feature-container
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 20%;
    width: 90%;
    margin: auto;
    margin-top: 100px;
    height: 500px;
}

.feature
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
    text-align: center;
}

.feature p
{
    margin: 0;
}

.feature img
{
    width: 100px;
}

footer
{
    background-color: #9BA08B;
    /* display: flex;
    align-items: center;
    flex-direction: column; */
    height: 450px;
    width: 100%;
    margin-top: 200px;
}

footer h2
{
    margin: 50px 0 30px 5%;
    padding-top: 50px;
    font-size: 70px;
    color: #fff;
    font-weight: 600;
}

.contact
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 10%;
    width: 90%;
    margin: auto;
}

.contact-info
{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.contact-info img
{
    width: 30px;
    margin-right: 20px;
}