.header
{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.header h1
{
    display: inline;
    margin-left: 20px;
}

.logo-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.header ul
{
    margin: 0;
}

.logo
{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 10px;
}

.header nav
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.nav-links li
{
    background-color: #4B7AA5;
    padding: 5px 20px 0 20px;
    border-radius: 5px;

}

.nav-links li a
{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: light;
    display: flex;
    align-items: center;
    justify-content: center;
}

#account
{
    background-color: #ADD4AF;
}

#home
{
    background-color: #F2F2F2;
}

#home>a
{
    color: #4B7AA5;
    font-size: 20px;
    font-weight: bold;
}

#chat, #notification
{
    background-color: transparent;
    width: 10px;
}
#chat img, #notification img
{
    width: 30px;
    cursor: pointer;
}