.notifications
{
    background-color: #E0E7F6;
    padding: 0 0 50px 0;
    /* height: 100vh; */
}

.notifications-section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.notifications-content
{
    width: 80%;
    background-color: #fff;
    border-radius: 25px;
    padding: 20px 0;
}

.notifications-text
{
    width: 80%;
}

