.location
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 100%;
}

.location-text
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
}

.location-text img
{
    width: 250px;
}