.pending-card
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    border: solid 1px #000;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.pending-card img
{
    width: 40px;
    height: 40px;
    margin-right: 20px;
    cursor: pointer;
}

.pending-card-content strong
{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: #0F225E;
}

.pending-card-content h4
{
    font-weight: 600;
}

.pending-card-content
{
    width: 50%;
    padding: 10px;
}

.pending-card-buttons
{
    width: 20%;
}

.confirmation-modal, .delete-modal 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.confirmation-content, .delete-content 
{
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    background-color: #fff;
    width: 25%;
    height: 100px;
}

.confirmation-buttons, .delete-buttons 
{
    margin-top: 15px;
}

.confirmation-buttons button, .delete-buttons button 
{
    margin: 0 10px;
    padding: 5px 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.pending-card-buttons img, .delete-buttons img 
{
    cursor: pointer;
}

.pending-card-buttons img:hover, .delete-buttons img:hover 
{
    transform: scale(1.1);
}

.yes-button 
{
    background-color: #ADD4AF;
    color: white;
}

.no-button 
{
    background-color: #FF7272;
    color: white;
}