.account-section
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.account-section>img
{
    width: 100%;
    height: 400px;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    top: 0;
}

.account-content
{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 90%;
    margin-top: 170px;
}

.account-options
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    background-color: #E8F3FF;
    border: solid 1px #969696;
    border-radius: 10px;
    padding: 20px 0;
}

.account-options h3
{
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    cursor: pointer;
}

.account-info
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    background-color: #E8F3FF;
    border: solid 1px #969696;
    border-radius: 10px;
    padding: 20px 40px;
}

.account-info button
{
    border: none;
    background-color: #ADD4AF;
    color: #fff;
    border-radius: 10px;
    padding: 10px 40px;
}

#personal-info, #documents
{
    width: 100%;
    margin-bottom: 20px;
}

#personal-info h2, #documents h2
{
    font-weight: normal;
}

.account-options h3:first-child
{
    background-color: #4B7AA5;
    color: #fff;
}