.profile
{
    position: relative;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}


#profile-card-content
{
    padding: 60px;
}

#profile-short-info
{
    width: 500px;
}

.doc-site>a
{
    color: #4B7AA5;
}

.profile-contact
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-contact .phone
{
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 300px;
    height: 60px;
    border-radius: 30px;
    border: solid 3px #4B7AA5;
    margin-top: 10px;
}

.profile-contact .phone img 
{
    width: 40px;
}

.profile-contact .phone p 
{
    font-size: 20px;
}